<a href="https://colab.research.google.com/github/CodingAW/C140/blob/main/C138.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [2]:
from google.colab import files
u = files.upload()

Saving kaggle.json to kaggle.json

In [3]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [4]:
!kaggle datasets download -d tmdb/tmdb-movie-metadata

Downloading tmdb-movie-metadata.zip to /content
 56% 5.00M/8.89M [00:00<00:00, 13.1MB/s]
100% 8.89M/8.89M [00:00<00:00, 20.0MB/s]

In [5]:
!unzip tmdb-movie-metadata.zip

Archive:  tmdb-movie-metadata.zip
  inflating: tmdb_5000_credits.csv
  inflating: tmdb_5000_movies.csv

In [6]:
import pandas as pd
import numpy as py
import plotly.express as px

In [7]:
df1 = pd.read_csv("tmdb_5000_credits.csv")
df2 = pd.read_csv("tmdb_5000_movies.csv")

df1.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [8]:
df2.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [9]:
df1.columns = ['id', 'title', 'cast', 'crew']
df2 = df2.merge(df1, on= "id")
df2.head(6)

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
5  258000000  ...  [{"credit_id": "52fe4252c3a36847f80151a5", "de...

[6 rows x 23 columns]

In [10]:
# C139

C = df2["vote_average"].mean()
print(C)

6.092171559442011

In [11]:
m = df2['vote_count'].quantile(0.9)
print(m)

1838.4000000000015

In [12]:
q_movies = df2.copy().loc[df2['vote_count'] >= m]
print(q_movies.shape)

(481, 23)

In [13]:
def weighted_rating(x, m= m, C= C):
  v = x["vote_count"]
  R = x['vote_average']
  return ((v/(v+m))*R)+((m/(v+m))*C)

q_movies['score'] = q_movies.apply(weighted_rating, axis= 1)

In [14]:
q_movies = q_movies.sort_values("score", ascending= False)
q_movies[['original_title', 'vote_count', 'vote_average', 'score']].head(10)

                                     original_title  ...     score
1881                       The Shawshank Redemption  ...  8.059258
662                                      Fight Club  ...  7.939256
65                                  The Dark Knight  ...  7.920020
3232                                   Pulp Fiction  ...  7.904645
96                                        Inception  ...  7.863239
3337                                  The Godfather  ...  7.851236
95                                     Interstellar  ...  7.809479
809                                    Forrest Gump  ...  7.803188
329   The Lord of the Rings: The Return of the King  ...  7.727243
1990                        The Empire Strikes Back  ...  7.697884

[10 rows x 4 columns]

In [15]:
fig = px.bar(q_movies.head(10).sort_values("score", ascending= False), x="score", y="original_title", orientation="h")
fig.show()

In [17]:
# C140

df2[["original_title", "cast", "crew", "keywords", "genres"]].head(6)

                             original_title  ...                                             genres
0                                    Avatar  ...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  Pirates of the Caribbean: At World's End  ...  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2                                   Spectre  ...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3                     The Dark Knight Rises  ...  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4                               John Carter  ...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
5                              Spider-Man 3  ...  [{"id": 14, "name": "Fantasy"}, {"id": 28, "na...

[6 rows x 5 columns]

In [35]:
from ast import literal_eval
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [21]:
features = ["cast", "crew", "keywords", "genres"]

for feature in features:
  df2[feature] = df2[feature].apply(literal_eval)

df2.dtypes

budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title_x                  object
vote_average            float64
vote_count                int64
title_y                  object
cast                     object
crew                     object
dtype: object

In [23]:
def get_director(x):
  for i in x:
    if i["job"] == "Director":
      return i["name"]
  return np.nan

df2["director"] = df2["crew"].apply(get_director)

In [25]:
def get_list(x):
  if isinstance(x, list):
    names = [i["name"] for i in x]
    return names
  return []

features = ["cast", "keywords", "genres"]

for feature in features:
  df2[feature] = df2[feature].apply(get_list)

In [26]:
df2[["original_title", "cast", "keywords", "genres", 'director']].head(6)

                             original_title  ...           director
0                                    Avatar  ...      James Cameron
1  Pirates of the Caribbean: At World's End  ...     Gore Verbinski
2                                   Spectre  ...         Sam Mendes
3                     The Dark Knight Rises  ...  Christopher Nolan
4                               John Carter  ...     Andrew Stanton
5                              Spider-Man 3  ...          Sam Raimi

[6 rows x 5 columns]

In [28]:
def clean_data(x):
  if isinstance(x, list):
    return [str.lower(i.replace(" ", "")) for i in x]
  else:
    if isinstance(x, str):
      return str.lower(x.replace(" ", ""))
    else:
      return ""

features = ["cast", "keywords", "genres", "director"]

for feature in features:
  df2[feature] = df2[feature].apply(clean_data)

In [29]:
df2[["original_title", "cast", "keywords", "genres", 'director']].head(6)

                             original_title  ...          director
0                                    Avatar  ...      jamescameron
1  Pirates of the Caribbean: At World's End  ...     goreverbinski
2                                   Spectre  ...         sammendes
3                     The Dark Knight Rises  ...  christophernolan
4                               John Carter  ...     andrewstanton
5                              Spider-Man 3  ...          samraimi

[6 rows x 5 columns]

In [30]:
a = ["hello", "how", "are", "you"]
" ".join(a)

'hello how are you'

In [31]:
def create_soup(x):
  return " ".join(x['keywords']) + " " + " ".join(x["cast"]) + " " + " ".join(x["director"]) + " " + " ".join(x["genres"])

df2['soup'] = df2.apply(create_soup, axis=1)

In [32]:
df2[["original_title", "cast", "keywords", "genres", 'director', 'soup']].head(6)

                             original_title  ...                                               soup
0                                    Avatar  ...  cultureclash future spacewar spacecolony socie...
1  Pirates of the Caribbean: At World's End  ...  ocean drugabuse exoticisland eastindiatradingc...
2                                   Spectre  ...  spy basedonnovel secretagent sequel mi6 britis...
3                     The Dark Knight Rises  ...  dccomics crimefighter terrorist secretidentity...
4                               John Carter  ...  basedonnovel mars medallion spacetravel prince...
5                              Spider-Man 3  ...  dualidentity amnesia sandstorm loveofone'slife...

[6 rows x 6 columns]

In [37]:
count = CountVectorizer(stop_words= "english")
count_matrix = count.fit_transform(df2['soup'])

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)
df2 = df2.reset_index()
indices = pd.Series(df2.index, index= df2['original_title'])

In [38]:
def get_reccommendations(title, cosine_sim):
  idx = indices[title]
  sim_scores = list(enumerate(cosine_sim[idx]))

  sim_scores = sorted(sim_scores, key= lambda x: x[1], reverse= True)
  sim_scores = sim_scores[1:11]
  movie_indices = [i[0] for  i in sim_scores]
  return df2['original_title'].iloc[movie_indices]

get_reccommendations("Avatar", cosine_sim2)

4401                  The Helix... Loaded
1201                            Predators
1932                               Sheena
168     Final Fantasy: The Spirits Within
539                            Titan A.E.
661            Zathura: A Space Adventure
2327                             Predator
260                          Ender's Game
3405           Stargate: The Ark of Truth
3856          In the Name of the King III
Name: original_title, dtype: object

In [39]:
get_reccommendations("Spider-Man 3", cosine_sim2)

30                      Spider-Man 2
159                       Spider-Man
2644                       Ong Bak 2
215     4: Rise of the Silver Surfer
1652            Dragonball Evolution
511                            X-Men
3856     In the Name of the King III
1296                    Superman III
3826                Chain of Command
1932                          Sheena
Name: original_title, dtype: object